.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #28a4d1;
  border-color: rgba(0,92,191,0);
}

.btn-primary {
  color: #fff;
  background-color: #28a4d1;
  border-color: rgba(0,123,255,0);
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1a2c33;
  text-align: left;
  background-color: #fff;
}

.h1, h1 {
  font-size: 2.5rem;
  color: #28A4D1;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #29a4d1;
  border-color: #29a4d1;
}

.btn-primary:hover {
  color: #fff;
  background-color: #289cc6;
  border-color: rgba(255,255,255,0);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #289cc6;
  border-color: #289cc6;
}

.btn-outline-primary {
  color: #29a4d1;
  border-color: #29a4d1;
}

.border {
  border: 1px solid rgba(222,226,230,0)!important;
}

.form-control:focus {
  color: #ffffff;
  background-color: rgba(255,255,255,0.29);
  border-color: rgba(255,255,255,0);
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(41,164,209,0.02);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: rgba(255,255,255,0);
  background-clip: padding-box;
  border: 1px solid rgba(255,255,255,0);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a {
  color: #575757;
  font-size: 10px;
  /*text-decoration: underline;*/
  background-color: transparent;
}

hr {
  margin-bottom: 1rem;
  border: 0;
  margin-top: -1.5rem;
  border-top: 1px solid #ffffff;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  vertical-align: middle;
  border-style: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #289cc6;
  border-color: #289cc6;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: rgba(255,255,255,0);
  border-color: rgba(222,226,230,0) rgba(222,226,230,0) #29a4d1;
  border-width: 1.5px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: rgba(233,236,239,0) rgba(233,236,239,0) #29a4d1;
  border-width: 1px;
}

.nav-tabs {
  border-bottom: 1px solid rgba(222,226,230,0);
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: rgba(255,255,255,0);
  border: 1px solid rgba(0,0,0,0);
}

.position-fixed {
  position: fixed!important;
}

.fixed-right {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
}

.btn.focus, .btn:focus {
  outline: 0;
}

